.inicio {
  position: relative;
}
.psi__woman {
  position: absolute;
  top: -150px;
  width: 300px;
  height: 300px;
  left: 350px;
  z-index: -0;
}
.psi__arbol{
  position: absolute;
  width: 40%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  margin: 160px 30px; /* Centra horizontalmente el texto */
  left: 10px; /* Oculta el elemento para pantallas de celular si es necesario */
}
.inicio__text {
  position: absolute;
  top: 10px;
  width: 450px;
  height: 200px;
  margin-left: 650px;
  color: #1b1b1b;
  transition: color 10s;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px; /* Bordes redondeados */
  box-shadow: -8px 10px 5px 0px rgba(199, 199, 199, 1); /* Sombra */
  text-align: center; /* Centrar texto horizontalmente */
  animation: fade-in 1s; /* Aplicar la animación de desvanecimiento durante 1 segundo */
  line-height: 1.5;
  background-color: rgba(
    173,
    216,
    230,
    0.5
  ); /* Azul pastel con 50% de transparencia */
  font-weight: bold;
  text-shadow: 2px 2px 4px #eaffc2;
  font: bold 100% cursive;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media query para tablets */
@media (max-width: 768px) {
  .inicio__text {
    width: 90%; /* Ajusta el ancho para adaptarse a la pantalla de tablet */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 0 auto; /* Centra horizontalmente el texto */
    left: 0; /* Cambia la posición izquierda para centrar horizontalmente */
  }
  .psi__woman {
    width: 150px; /* Ajusta el ancho para pantallas de tablet */
    height: 150px; /* Ajusta la altura para pantallas de tablet */
  }
  .psi__arbol{
    position: absolute;
    width: 40%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 160px 30px; /* Centra horizontalmente el texto */
    left: 10px; /* Oculta el elemento para pantallas de celular si es necesario */
  }
}

/* Media query para celulares */
@media (max-width: 480px) {
  .inicio__text {
    width: 50%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 0 80px; /* Centra horizontalmente el texto */
    left: 100px; /* Cambia la posición izquierda para centrar horizontalmente */
  }
  .psi__woman {
    width: 40%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 160px 10px; /* Centra horizontalmente el texto */
    left: 10px; /* Oculta el elemento para pantallas de celular si es necesario */
  }
  .psi__arbol{
    position: absolute;
    width: 40%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 220px 200px; /* Centra horizontalmente el texto */
    left: 10px; /* Oculta el elemento para pantallas de celular si es necesario */
  }
}
