.inicio {
  position: relative;
}
.psi__woman {
  position: absolute;
  top: -150px;
  width: 300px;
  height: 300px;
  left: 650px;
  z-index: -0;
}
.psi__arbol {
  position: absolute;
  width: 40%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  margin: 160px 30px; /* Centra horizontalmente el texto */
  left: 10px; /* Oculta el elemento para pantallas de celular si es necesario */
}
.inicio__text {
  position: absolute;
  left: 250px;
  text-align: center;
  transition: color 2s;
  font: 150% lalo, sans-serif;
  color: #1b1b1b;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.9); /* Sombra con opacidad */
  top: 150px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media query para tablets */
@media (max-width: 768px) {
  .inicio__text {
    width: 90%; /* Ajusta el ancho para adaptarse a la pantalla de tablet */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 0 auto; /* Centra horizontalmente el texto */
    left: 0; /* Cambia la posición izquierda para centrar horizontalmente */
  }
  .psi__woman {
    width: 150px; /* Ajusta el ancho para pantallas de tablet */
    height: 150px; /* Ajusta la altura para pantallas de tablet */
  }
  .psi__arbol {
    position: absolute;
    width: 40%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 160px 30px; /* Centra horizontalmente el texto */
    left: 10px; /* Oculta el elemento para pantallas de celular si es necesario */
  }
}

/* Media query para celulares */
@media (max-width: 480px) {
  .inicio__text {
    width: 55%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 10px 80px; /* Centra horizontalmente el texto */
    left: 100px; /* Cambia la posición izquierda para centrar horizontalmente */
    padding: 10px;
    font: bold  100%  lalo, sans-serif;
  }
  .psi__woman {
    width: 40%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 300px 10px; /* Centra horizontalmente el texto */
    left: 10px; /* Oculta el elemento para pantallas de celular si es necesario */
  }
  .psi__arbol {
    position: absolute;
    width: 70%; /* Ajusta el ancho para adaptarse a la pantalla de celular */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 330px 100px; /* Centra horizontalmente el texto */
    left: 0px; /* Oculta el elemento para pantallas de celular si es necesario */
  }
}
